<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="30">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <meta name=author content=”Gabriele-Salvatori”>
        <meta name="description" content="Computer Science student, Italy. Interested in engineering, computer science, electronics, and everything about scientific discipines." />

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link href="/css/blog.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700|Abril+Fatface">

    </head>
<body>

<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">

    <a href="/">salvatorigabriele.com</a>
    <a class="extra" href="/about.html">about</a>
    <a class="extra" href="/projects.html">projects</a>
    <a class="extra" href="/contactme.html">contact me</a>
    <a class="extra" href="/cv.html">CV</a>
    
    <a href="https://www.facebook.com/salvatorigabriele" target="_blank"><img src="images/facebook.png" width="40" height="40" alt="Facebook" /></a>
    &nbsp;&nbsp;&nbsp;
    <a href="https://twitter.com/_gsalvatori" target="_blank"><img src="images/twitter.png" width="40" height="40" alt="Twitter" /></a>
    &nbsp;&nbsp;&nbsp;
    <a href="https://github.com/gsalvatori" target="_blank"><img src="images/Github.png" width="40" height="40" alt="Github" /></a>
    &nbsp;&nbsp;&nbsp;
    <a href="https://plus.google.com/+GabrieleSalvatori/" target="_blank"><img src="images/g+.png" width="40" height="40" alt="Google Plus" /></a>
    &nbsp;&nbsp;&nbsp;
    <a href="http://instagram.com/_gsalvatori" target="_blank"><img src="images/instagram.png" width="40" height="40" alt="Instagram" /></a>
    
    </div>
  </div>
</div>

<div class="site">
 <div id="home">
  

  {{ content }}
  
 </div>
 </div>
  
  <div class="footer">

    © 2014 | <a href="mailto:salvatorigabriele@gmail.com"><b>contact me</b></a>

  </div>
</div>


</body>
</html>
