<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="30">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name=author content=”Gabriele-Salvatori”>
    <meta name="description" content="Computer Science student, Italy. Interested in engineering, computer science, electronics, and everything about scientific discipines." />

    <title>salvatorigabriele.com</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/blog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <br>
          <h2><i>Gabriele Salvatori</i></h2>
          <a class="blog-nav-item active" href="/">Home</a>
          <a class="blog-nav-item" href="/about.html">About</a>
          <a class="blog-nav-item" href="/projects.html">Projects</a>
          <a class="blog-nav-item" href="/contactme.html">Contact Me</a>
          <a class="blog-nav-item" href="/cv.html">CV</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">

      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
{{ content }}
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4><b>About</b></h4>
            <p>I'm a Computer Science student at Tor Vergata University of Rome, Italy. Interested in engineering, computer science, electronics, and everything about scientific discipines.</p><br>
            <a href="" target="_blank"><img src="/images/twitter.png" border="0" width="32" height="32" /></a>
            <a href="" target="_blank"><img src="/images/Github.png" border="0" width="32" height="32" /></a>
            <a href="" target="_blank"><img src="/images/facebook.png" border="0" width="32" height="32" /></a>
          </div>
 

      </div><!-- /.row -->

    </div><!-- /.container -->

    <div class="blog-footer">
      <p>© 2014 | All rights reserved.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
