<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name=author content=”Gabriele-Salvatori”>
    <meta name="description" content="Computer Science student, Italy. Interested in engineering, computer science, electronics, and everything about scientific discipines." />

    <title>salvatorigabriele.com</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/blog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <br>
          <div class="maintitle">
          <i>Gabriele Salvatori</i>
          </div>
          <a class="blog-nav-item" href="/">Home</a>
          <a class="blog-nav-item" href="/about.html">About</a>
          <a class="blog-nav-item" href="/projects.html">Projects</a>
          <a class="blog-nav-item" href="mailto:salvatorigabriele@gmail.com">Contact Me</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">

      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
{{ content }}
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <p><i>Computer Science student. Currently lives in Rome, Italy. Interested in engineering, computer science, math, electronics, and everything about scientific disciplines.</i></p><br>
            <a href="https://twitter.com/_gsalvatori" target="_blank"><img src="/images/twitter.png" border="0" width="32" height="32" /></a>&nbsp;&nbsp;&nbsp;
            <a href="https://github.com/gsalvatori" target="_blank"><img src="/images/Github.png" border="0" width="32" height="32" /></a>&nbsp;&nbsp;&nbsp;
            <a href="https://www.facebook.com/salvatorigabriele" target="_blank"><img src="/images/facebook.png" border="0" width="32" height="32" /></a>&nbsp;&nbsp;&nbsp;
            <a href="https://plus.google.com/+GabrieleSalvatori" target="_blank"><img src="/images/g+.png" border="0" width="32" height="32" /></a>&nbsp;&nbsp;&nbsp;
          </div>
          
          <div class="sidebar-module sidebar-module-inset">
          <a class="twitter-timeline" href="https://twitter.com/_gsalvatori/lists/news" data-widget-id="532844078128308227">Tweet da https://twitter.com/_gsalvatori/lists/news</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
          
          <div class="sidebar-module sidebar-module-inset">
          <i>Stackoverflow profile</i><br><br>
            <a href="http://stackoverflow.com/users/1151755/gabriele-salvatori">
            <img src="http://stackoverflow.com/users/flair/1151755.png" width="208" height="58" alt="profile for Gabriele Salvatori at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Gabriele Salvatori at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
            </a>
          </div>
 

      </div><!-- /.row -->

    </div><!-- /.container -->
    

<!--- Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49511074-1', 'salvatorigabriele.com');
  ga('send', 'pageview');

</script>
<!--- end Google Analytics-->

    <div class="blog-footer">
      <p>© 2014 | All rights reserved.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
